<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
</head>

<body>
    <h1 class="titulo">Lista de Productos</h1>

    <div class="contabla">
        <a th:href="@{/map_producto}">
            <img class="icono" th:src="@{/img/CrearProducto.png}" alt="Crear Producto">
        </a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Iva</th>
                    <th>Stock</th>
                    <th class="tdopcion">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="productos : ${productos}">
                    <td th:text="${productos.id}"></td>
                    <td th:text="${productos.nombre}"></td>
                    <td th:text="${productos.descripcion}"></td>
                    <td th:text="${productos.precio}"></td>
                    <td th:text="${productos.iva}"></td>
                    <td th:text="${productos.stock}"></td>
                    <td class="tdopcion"><a th:href="@{/get_producto/{id}(id=${productos.id})}">
                        <img class="iconopcion" th:src="@{/img/EditProducto.png}" alt="Crear Producto">
                        </a><a th:href="@{/delete_producto}">
                            <img class="iconopcion" th:src="@{/img/DeleteProducto.png}" alt="Eliminar producto">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>