body {
	background-color: #fff59d;
}

.header {
	background-color: grey;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 3px 3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

nav {
	background-color: #333;
}

.navega ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
		border-radius: 2%;
	
}

.header .navega ul li {
	float: left;
	flex-grow: 1;
	text-align: center;
	position: relative;
	width: 100px;
}

.navega ul li a {
	display: block;
	color: #fff;
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
	transition: all .2s ease;
}

.navega ul li a:hover {
	background-color: #555;
}
/* submenus */
.header .navega ul li ul {
	position: absolute;
	left: 0;
	width: 100px;
	background-color: #34495E;
	display: none;
	border-radius: 2%;
}

.header .navega ul li ul li a {
	font-size: 15px;
	text-transform: capitalize;
}

.header .navega ul li ul li {
	width: 100px;
}

.header .navega ul li:hover>ul {
	display: initial;
}

#togle, .header label {
	display: none;
	cursor: pointer;
}

.titulo {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 1px 1px 0px #fff;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 90%;
	overflow-x: auto;
}

.contabla {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	margin-left: 5%;
	max-width: 90%;
	overflow-x: auto;
}

table td {
	background-color:white;

	}
table th, table td {
	border: 1px solid #ddd;
	padding: 5px;
	font-family: "Helvetica Neue", sans-serif;
	text-align: center;
}

table th {
	background-color: #000000;
	font-weight: bold;
	color: white;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.tdopcion {
	max-width: 5%;
}

.back {
    transform: translateZ(-50px) rotateY(180deg);
    background-color: #c5c5c5;
}

.icono{
	display: inline-block;
    margin-right: 10px;
	width: 32px;
    height: 32px;
}

.iconopcion{
	display: inline-block;
	width: 32px;
    height: 32px;
}